
<main class="bg-white flex flex-col lg:flex-row justify-center items-center w-4/5 mx-auto my-40 p-12 shadow-2xl opacity-50">
    <img class="w-2/5 lg:w-1/5" src="../assets/image/logo-tailwind.png" alt="Logo Tailwind CSS">
    <h1 class="text-4xl lg:text-6xl font-black text-center">Olá Tailwind CSS!</h1>
    
    <img class="w-2/5 lg:w-1/5" src="../assets/image/logo-tailwind.png" alt="Logo Tailwind CSS">

 
      <button class="btn overflow-hidden 
                     transition ease-in-out 
                     delay-150 
                     bg-indigo-500 
                     hover:-translate-y-1 
                     hover:scale-110 
                     hover:bg-pink-500 
                     duration-300"
                     (click)="outroBanner()">
        Save Changes
      </button>
   
  </main>
